* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #f4f0ff, #e0c3fc, #c8b6ff);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.header {
    text-align: center;
}

.highlight {
    background: linear-gradient(to right, #7b2cbf, #9d4edd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    width: 60px;
    height: 4px;
    background: #e0c3fc;
    margin: 12px auto 25px;
    border-radius: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    background: white;
    color: #5a189a;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #7b2cbf;
    color: white;
    transform: scale(1.03);
}

/* FOTO PROFIL JADI BAGUS */
.foto {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #7b2cbf;
    box-shadow: 0 10px 25px rgba(123, 44, 191, 0.35);
    margin: 10px auto;
    display: block;
    transition: 0.4s;
}

.foto:hover {
    transform: scale(1.08) rotate(2deg);
}

.nama {
    font-weight: 600;
    font-size: 18px;
}

.status {
    color: #777;
}

.content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease;
}

.content.show {
    max-height: 800px;
    opacity: 1;
    padding: 15px 0;
}

.quote {
    font-style: italic;
    color: #555;
}

.grid-foto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.item img:hover {
    transform: scale(1.05);
}

.item p {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 500;
}



.grid-foto img {
    width: 120px;
    border-radius: 15px;
}

.guest-book {
    margin-top: 25px;
    border-top: 2px dashed #e0c3fc;
    padding-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #e0c3fc;
}

.heart {
    color: #ff4d6d;
}
